<h1 class="text-3xl font-bold">Snacks</h1>

<div class="flex gap-5">
	<form (submit)="addSnack()" #form="ngForm">
		<h2 class="text-2xl font-bold">Snack toevoegen (template)</h2>

		<ol class="grid grid-cols-[max-content_14em_1fr] gap-x-2 gap-y-3">
			<li class="col-span-3 grid grid-cols-subgrid items-center">
				<label for="input-name">Naam:</label>
				<input
					id="input-name"
					class="input not-[.ng-untouched]:not-[.ng-valid]:input-error"
					[(ngModel)]="newSnack.name"
					name="name"
					required
					pattern="^[a-zA-Z \-]{3,}$"
					#inputName="ngModel"
				/>

				<!-- <validation-message for="name" /> -->

				<div>
					@if (inputName.touched && !inputName.valid) {
						<span>*</span>
					}
					@if (inputName.touched && inputName.hasError('required')) {
						<span>Vul in aub</span>
					}
					@if (inputName.touched && inputName.hasError('pattern')) {
						<span>Enkel letters, spaties en streepjes graag. En minimaal 3 karakters.</span>
					}
				</div>
			</li>
			<li class="col-span-3 grid grid-cols-subgrid items-center">
				<label for="input-kcal">KCal:</label>
				<input
					id="input-kcal"
					class="input not-[.ng-untouched]:not-[.ng-valid]:input-error"
					[(ngModel)]="newSnack.kcal"
					name="kcal"
					type="number"
					required
				/>
				<div></div>
			</li>
			<li class="col-span-3 grid grid-cols-subgrid items-center">
				<label for="input-photo-url">Foto URL:</label>
				<input
					id="input-photo-url"
					class="input not-[.ng-untouched]:not-[.ng-valid]:input-error"
					[(ngModel)]="newSnack.photoUrl"
					name="photoUrl"
					required
				/>
				<div></div>
			</li>
			<li class="col-span-3">
				<button [disabled]="!form.valid" class="btn btn-primary">Voeg snack toe</button>
			</li>
		</ol>

		<pre>{{ newSnack | json }}</pre>
	</form>

	<form (submit)="addSnackReactive()" [formGroup]="addSnackForm">
		<h2 class="text-2xl font-bold">Snack toevoegen (reactive)</h2>

		<ol class="grid grid-cols-[max-content_14em_1fr] gap-x-2 gap-y-3">
			<li class="col-span-3 grid grid-cols-subgrid items-center">
				<label for="input-name">Naam:</label>
				<input id="input-name" class="input not-[.ng-untouched]:not-[.ng-valid]:input-error" formControlName="name" />

				<!-- <validation-message for="name" /> -->

				<div>
					@if (f.name.touched && !f.name.valid) {
						<span>*</span>
					}
					@if (f.name.touched && f.name.hasError('required')) {
						<span>Vul in aub</span>
					}
					@if (f.name.touched && f.name.hasError('pattern')) {
						<span>Enkel letters, spaties en streepjes graag. En minimaal 3 karakters.</span>
					}
				</div>
			</li>
			<li class="col-span-3 grid grid-cols-subgrid items-center">
				<label for="input-kcal">KCal:</label>
				<input id="input-kcal" class="input not-[.ng-untouched]:not-[.ng-valid]:input-error" type="number" formControlName="kcal" />
				<div></div>
			</li>
			<li class="col-span-3 grid grid-cols-subgrid items-center">
				<label for="input-photo-url">Foto URL:</label>
				<input id="input-photo-url" class="input not-[.ng-untouched]:not-[.ng-valid]:input-error" formControlName="photoUrl" />
				<div></div>
			</li>
			<li class="col-span-3">
				<button [disabled]="!addSnackForm.valid" class="btn btn-primary">Voeg snack toe</button>
			</li>
		</ol>

		<pre>{{ addSnackForm.value | json }}</pre>
	</form>

	<!-- <input [value]="naam" (keydown)="updateValue()" -->

	<div>
		<h2 class="text-2xl font-bold">Snacks</h2>

		@if (isFetchingSnacks) {
			<p>Bezig met ophalen van snacks!</p>
		} @else if (!snacks || snacks.length === 0) {
			<p>Geen snacks momenteel!</p>
		} @else {
			<table>
				<thead>
					<tr>
						<th>Naam</th>
						<th>kcal</th>
						<th>Foto</th>
					</tr>
				</thead>
				<tbody>
					@for (snack of snacks; track snack.name) {
						<tr [class.vet]="snack.kcal > 100" (click)="snack.kcal = snack.kcal - 20">
							<td>{{ snack.name }}</td>
							<td>{{ snack.kcal }}</td>
							<td><img [src]="snack.photoUrl" /></td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
</div>
